@model Assessment5b.Models.Cart
@{
    ViewData["Title"] = "Item";
}

<h1>Item</h1>

<input type="button" value="Add Item 1" onclick="location.href='@Url.Action("Home", "Item", 1)'" />


<a href="/Home/Checkout">Checkout</a>
